{% load staticfiles %}
<!--================= About Instal Section ==================-->
    <section class="about-instal-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="col s4">
                   <img src="{% static '/images/apple-appliances-home2.jpg' %}" alt="" title="">
                </div>
                <div class="col s1"></div>
                <div class="col s7">
                    <div class="we-provide-block">
                        <div class="section-title">About Instal <span></span></div>
                        <div class="we-provide-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <div class="more-block">
                            <ul>
                                <li><a href="#" class="custom-btn">Know More</a></li>
                                <li><a href="#" class="request-btn">Request for Service  <i class="fa fa-caret-right" aria-hidden="true"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
