{% load staticfiles %}

<div class="row">
    {% for category  in categories %}
    <div class="col s6 m3">
        <div class="card">
            <div class="card-image">
                {% if category.category_image %}
                    <img src="{{ category.category_image.url }}">
                {% else %}
                    <img src="/static/">
                {% endif %}
            </div>
            <div class="card-action">
                <a href="/product/category/{{ category.id }}/">{{ category.name }}</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col s6 m3">
        <div class="card-panel">
            <h4>No Data available</h4>
        </div>
    </div>
    {% endfor %}

</div>
