{% load staticfiles %}
<!--================= All Category Section ==================-->
    <section class="manual-category-section">
        <div class="container">
            <div class="section-title">Browse in perfect  Instruction Manual Category (Demo Data)</div>
            <div class="row wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/01.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Laptop</div>
                        </a>
                    </div>
                </div>

                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/02.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Mobiles</div>
                        </a>
                    </div>
                </div>

                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/03.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Smart Watches</div>
                        </a>
                    </div>
                </div>

                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/04.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Digital Cameras</div>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/01.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Laptop</div>
                        </a>
                    </div>
                </div>

                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/02.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Mobiles</div>
                        </a>
                    </div>
                </div>

                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/03.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Smart Watches</div>
                        </a>
                    </div>
                </div>

                <div class="col s3">
                    <div class="category-list-block z-depth-1">
                        <a href="#">
                            <div class="clb-thumb"><img src="{% static '/images/category/04.jpg' %}" alt="" title=""></div>
                            <div class="clb-title">Digital Cameras</div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <a class="browse-all" href="/product/category/">Browse All Category</a>
            </div>

        </div>
    </section>
