{% load staticfiles %}
<!--================= Footer Section ==================-->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="500ms"  data-wow-delay="900ms">
                <div class="col s6">
                    <div class="col s4">
                        <div class="footer-top-block">
                            <div class="footer-title">Brand</div>
                            <ul>
                                <li><a href="">Acer</a></li>
                                <li><a href="">AEG</a></li>
                                <li><a href="">Asus</a></li>
                                <li><a href="">Black & Decker</a></li>
                                <li><a href="">Bosch</a></li>
                                <li><a href="">Brother</a></li>
                                <li><a href="">Canon</a></li>
                                <li><a href="">Casio</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="footer-top-block">
                            <div class="footer-title"> </div>
                            <ul>
                                <li><a href="">Epson</a></li>
                                <li><a href="">Frigidaire</a></li>
                                <li><a href="">Fujitsu</a></li>
                                <li><a href="">GE</a></li>
                                <li><a href="">Haier</a></li>
                                <li><a href="">Hitachi</a></li>
                                <li><a href="">Honda</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="footer-top-block">
                            <div class="footer-title">Company</div>
                            <ul>
                                <li><a href="">About us</a></li>
                                <li><a href="">Products</a></li>
                                <li><a href="">Services</a></li>
                                <li><a href="">Warranty</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Sitemap</a></li>
                                <li><a href="">Legal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="col s1"></div>
                        <div class="col s11">
                            <div class="footer-top-block">
                                <div class="footer-title">Contact Details</div>
                                <div class="row">
                                    <div class="col s7">
                                        <div class="footer-addess">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <p>+97 20 154 86951 <br> +97 20 154 86951</p>
                                        </div>
                                    </div>
                                    <div class="col s5">
                                        <div class="footer-email">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <a href="mailto:Info@innstal.com" target="_top">Info@innstal.com</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="footer-addess mb-40">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <p>Studio 103, The Business Centre, 61 Wellfield Road,<br/> Roath, Cardiff CF24 3DG</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="footer-subscribe">
                                            <div class="footer-title">Subscribe</div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                                        </div>
                                        <div class="subscribe-field">
                                            <input placeholder="Enter Your Email Address" type="text" class="input-field-inner">
                                            <button type="submit" class="subscribe-btn"><i class="fa fa-paper-plane" aria-hidden="true"></i> Subscribe</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="full-width">
            <div class="row wow fadeInUp" data-wow-duration="500ms"  data-wow-delay="900ms">
                <div class="col s6">
                    <div class="copyRight">&COPY; Copyright 2017 <a href="#">Innstal,</a> Inc. All Rights Reserved</div>
                </div>
                <div class="col s6">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer><!--End footer-->
