{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 style="text-align: center;">How Innstal Works</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m6">
            <b style="margin-bottom: 30px;">Instruction Manual</b>
            <div class="row">
                <div class="col s2">
                    <img src="{% static '/images/img_work1.png' %}">
                </div>
                <div class="col s10">
                    <b>Find User Manual</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                </div>
            </div>
            <div style="margin-bottom: 10px; margin-left: 26px;">
                <img src="{% static '/images/icon_sep1.png' %}">
            </div>
            <div class="row">
                <div class="col s2">
                    <img src="{% static '/images/img_work2.png' %}">
                </div>
                <div class="col s10" style="padding-right: 100px;">
                    <h6>Read Installation Instruction</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                </div>
            </div>
            <div style="margin-bottom: 10px; margin-left: 26px;">
                <img src="{% static '/images/icon_sep1.png' %}">
            </div>
            <div class="row">
                <div class="col s2">
                    <img src="{% static '/images/img_work3.png' %}">
                </div>
                <div class="col s10" style="padding-right: 100px;">
                    <h6>Download as PDF</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                </div>
            </div>
        </div>

        <div class="col s6">
            <h2 style="margin-bottom: 30px;">Warranty Card</h2>
            <div class="row">
                <div class="col s3">
                    <img src="{% static '/images/img_work4.png' %}">
                </div>
                <div class="col s9">
                    <h6>Register Your Warranty Card</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                </div>
            </div>
            <div style=" margin-left: 26px; position: relative; top: -30px;" id="icon_sep2">
                <img src="{% static '/images/icon_sep2.png' %}">
            </div>
            <div class="row">
                <div class="col s2">
                    <img src="{% static '/images/img_work5.png' %}">
                </div>
                <div class="col s10" style="padding-right: 100px;">
                    <h6>Claim Your warranty card In future</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                </div>
            </div>
            <div style="height: 40px;"></div>
            <div class="mbr-section-btn" style="text-align: left;">
                
                <button class="btn orange waves-effect waves-light rounded-20" type="submit" name="action"> Register a Warranty Card </button>
            </div>
        </div>
    </div>
</div>