{% load staticfiles %}

<!--================= How Innstal Works Section ==================-->
    <section class="how-works-section">
        <div class="container">
            <div class="section-title">How Innstal Works</div>
            <div class="row wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="col s5">
                    <div class="instruction-manual">
                        <h4>Instruction Manual</h4>
                        <div class="im-block">
                            <div class="imb-list">
                                <div class="imb-list-thumb"><img src="{% static '/images/01.png' %}" alt="" title=""></div>
                                <div class="imb-list-info">
                                    <h5>Find User Manual</h5>
                                    <span></span>
                                    {% if blog.find_user_manual %}
                                        {{ blog.find_user_manual | safe }}
                                    {% else %}
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="imb-list">
                                <div class="imb-list-thumb"><img src="{% static '/images/02.png' %}" alt="" title=""></div>
                                <div class="imb-list-info">
                                    <h5>Read Installation Instruction</h5>
                                    <span></span>
                                    {% if blog.read_installation_instruction %}
                                        {{ blog.read_installation_instruction | safe }}
                                    {% else %}
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="line"></div>
                            <div class="imb-list">
                                <div class="imb-list-thumb"><img src="{% static '/images/03.png' %}" alt="" title=""></div>
                                <div class="imb-list-info">
                                    <h5>Downaload as PDF</h5>
                                    <span></span>
                                    {% if blog.read_installation_instruction %}
                                        {{ blog.read_installation_instruction | safe }}
                                    {% else %}
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    {% endif %}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col s2"></div>
                <div class="col s5">
                    <div class="instruction-manual">
                        <h4>Warranty Card</h4>
                        <div class="im-block">
                            <div class="imb-list">
                                <div class="imb-list-thumb"><img src="{% static '/images/04.png' %}" alt="" title=""></div>
                                <div class="imb-list-info">
                                    <h5>Register Your Warranty Card</h5>
                                    <span></span>
                                    {% if blog.read_installation_instruction %}
                                        {{ blog.read_installation_instruction | safe }}
                                    {% else %}
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="line line2"></div>

                            <div class="imb-list">
                                <div class="imb-list-thumb"><img src="{% static '/images/05.png' %}" alt="" title=""></div>
                                <div class="imb-list-info">
                                    <h5>Claim Your warranty card In future</h5>
                                    <span></span>
                                    {% if blog.read_installation_instruction %}
                                        {{ blog.read_installation_instruction | safe }}
                                    {% else %}
                                        <p>Lorem ipsum dolor sit amet consectetur adipis cing elit, sed do eiusmod</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <a href="/product/register-warranty/" class="custom-btn rw-card">Register a Warranty Card</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
