<section class="join-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="col s12">
                    <div class="we-provide-block">
                        <div class="section-title">Join over 2 million peoples already using Innstal. Register Now </div>
                    </div>
                </div>
            </div>

            <div class="row wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="input-field col s3">
                    <input placeholder="Name" type="text" class="input-field-inner">
                </div>
                <div class="input-field col s3">
                    <input placeholder="Email" type="text" class="input-field-inner">
                </div>
                <div class="input-field col s3">
                    <input placeholder="Phone Number" type="text" class="input-field-inner">
                </div>
                <div class="input-field col s3">
                    <button class="custom-btn" type="submit">Register Now</button>
                </div>
                <div class="clearfix"></div>
                <p class="clicking-text">By clicking "Register Now" I agree to Innstal's <a href="#">Terms of Service.</a></p>
            </div>
        </div>
    </section>
