<div class="row">
    <div class="col s10 m6">
        <h3>Looking for Instruction Manual</h3>

        <div class="mbr-section-text" style="margin-top:20px; text-align: left;">
            {% if blog.looking_for_instruction %}
                {{ blog.looking_for_instruction | safe }}
            {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuore magna aliqua.&nbsp;</p>
            {% endif %}
        </div>

        <form action="/product/search/manual/" method="post">
            {% csrf_token %}
            <div class="input-field">
                <input id="search" type="text" name="search" class="validate" style="color: #000; padding: 2px 10px;">
                <label for="search">  Search for product manual</label>
            </div>
        </form>

    </div>
    <div class="col s10 m5 offset-m1">
        <H3>Want to Register your Warrenty Card</H3>

        <div class="mbr-section-text" style="margin-top:20px; text-align: left;">
        {% if blog.want_to_register_your_warranty_car %}
            {{ blog.want_to_register_your_warranty_car | safe }}
        {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuore magna aliqua.</p>
        {% endif %}
        </div>

        <a class="btn orange waves-effect waves-light rounded-20" href="/product/register-warranty/">
            Register Now
        </a>

    </div>
</div>
