{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    {% block leftpane %}
    <div class="col s2 sidemenu">
        <ul id="slide-in" class="side-nav fixed leftmenu">
            <li>
                <div class="user-view" style="text-align: center">

                    <h4><a href="/">innstal</a></h4>
                    <a href="/dashboard/account-details/">
                        {% if request.user.avatar %}
                            <img class="circle responsive-img" src="/media/{{ request.user.avatar }}">
                        {% else %}
                            <img class="circle responsive-img" src="/static/images/avatar.png">
                        {% endif %}
                    </a>
                    <a href="/dashboard/account-details/"><span class="white-text name">{{request.user.first_name }} {{request.user.last_name }}</span></a>
                    <a href="/dashboard/account-details/"><span class="white-text email">{{ request.user.email }}</span></a>
                </div>
            </li>
            <li><div class="divider"></div></li>
            <li class="menu"><a href="/dashboard"><i class="material-icons white-text">home</i>Dashboard</a></li>
            <li class="menu"><a href="/dashboard/product-manual/"><i class="material-icons white-text">event_note</i>Product Manual</a></li>
            <li class="menu"><a href="/dashboard/warranties/"><i class="material-icons white-text">history</i>Warranty</a></li>
            {% if user.user_type == '2 '%}
            <li class="menu"><a href="/subscription/"><i class="material-icons white-text">history</i>Subscription</a></li>
            {% endif %}
        </ul>
    </div>
    {% endblock leftpane %}


    <div class="col s10 dashboard_content">
        {% block headerdas %}
        <div class="row">

            <div class="col s10 left-align">
                <b>Hello, {{ request.user.first_name }} {{ request.user.last_name }}</b>
            </div>
            <div class="col s2 right-align">
                <a class="black-text" href="/logout">Logout</a>
            </div>

        </div>
        {% endblock headerdas %}
        <div class="divider"></div>
        <div class="row">
            {% block contentdas %}
                <div class="col s12">
                    <h5>Registered Warranty Products</h5>
                </div>
                {% include "dashboard/registered-products.html" %}
                <div class="col s12">
                    <h5>Recently Product Manual Reviewed</h5>
                </div>
                {% include "dashboard/reviewed-products.html" %}
            {% endblock contentdas %}
        </div>
    </div>
</div>
{% endblock %}
