{% extends "base-no-banner.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="container login_page">
        <div class="row">
    		<div class="col s12">
    			<h2>innstal</h2>
    		</div>
    	</div>
        <div class="row">
            <div class="col s6 offset-s3">
                <form id="login-form" action="/login/" method="post">
                    {% csrf_token %}
                    {% include 'login-form.html'%}
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
