<div class="card-panel">
    <div class="row">
        <div class="col s12">
            <h4>Login to Innstal</h4>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input placeholder="Placeholder" id="email" name="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
        <div class="col s6">
            <input type="checkbox" id="test5" />
            <label for="test5">Remember Me</label>
        </div>
        <div class="col s6">
            <a href="/forget-password">Forget Password</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn btn-large orange login" type="submit">
                Login
            </button>
        </div>
    </div>

</div>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
