{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container signup_page">
    <div class="row">
		<div class="col s12">
			<h2>innstal</h2>
		</div>
	</div>
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card-panel">


            <form id="msform" name="signup" action="/signup/" method="post">
                {% csrf_token %}
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Account Setup</li>
                    <li>Social Profiles</li>
                    <li>Personal Details</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    {% include "signup-form-usertype.html" %}
                </fieldset>
                <fieldset>
                    {% include "signup-form-account-details.html" %}
                </fieldset>
                <fieldset>
                    {% include "signup-form-final.html" %}
                </fieldset>


            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
