<h2 class="fs-title">Create account</h2>
<h3 class="fs-subtitle">USER TYPE</h3>
<div class="row">
    <div class="col s12">
        <p>
          <input name="user_type" type="radio" id="user_type-customer" value="1" />
          <label for="user_type-customer">Customer</label>
        </p>
        <p>
          <input class="with-gap" name="user_type" type="radio" id="user_type-business" value="2"  />
          <label for="user_type-business">Business</label>
        </p>
    </div>
</div>
<input type="button" name="next" class="next action-button" value="Next" />
