<div class="card-panel">
    <div class="row">
        <div class="col s12">
            <h2 class="fs-title">Sign Up to Innstal</h2>
            <h3 class="fs-subtitle">Create your account</h3>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="email" type="email" name="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="input-field col s6">
            <input id="phone" type="tel" name="phone" class="validate">
            <label for="phone" data-error="wrong" data-success="right">Phone</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="first_name" name="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" name="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="password1" name="password1" type="password" class="validate">
            <label for="password1">Password</label>
        </div>
        <div class="input-field col s6">
            <input id="password2" name="password2" type="password" class="validate">
            <label for="password2">Confirm Password</label>
        </div>
    </div>
    <div class="row">

        <div class="col s6">
            <input type="checkbox" name="terms" id="terms" />
            <label for="terms">I accept all Terms & Condition</label>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <button class="btn btn-large orange signup" type="submit">
                Register Now
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <a class="orange-text" href="/login/"><u>Already Have Account Login Now</u></a>
        </div>
    </div>

</div>
