
    <h2 class="fs-title">Create account</h2>
    <h3 class="fs-subtitle">Account Details</h3>

    <div class="row">
        <div class="input-field col s6">
            <input id="email" type="email" name="email" class="validate" required>
            <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="input-field col s6">
            <input id="phone" type="tel" name="phone" class="validate">
            <label for="phone" data-error="wrong" data-success="right">Phone</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="first_name" name="first_name" type="text" class="validate" required>
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" name="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="password1" name="password1" type="password" class="validate" required>
            <label for="password1">Password</label>
        </div>
        <div class="input-field col s6">
            <input id="password2" name="password2" type="password" class="validate">
            <label for="password2">Confirm Password</label>
        </div>
    </div>

    <input type="button" name="next" class="next action-button" value="Next" />
