{% extends "index.html" %}
{% load staticfiles %}

{% block header %}
<div class="navbar-fixed orange darken-2">
    <nav class="">
        {% include "partials/top-nav.html" %}
    </nav>
</div>
{% endblock %}


{% block content %}
<div class="row search_header">
        <h5 class="center-align" style="margin-top:0px;">Showing Results For "<span class="pulse">{{qstring}}</span>"</h5>
</div>
<div class="container">

    <div class="row">
        <div class="col s4 push-s4 search_box">
            <form action="/product/search-manual/" method="get">
                <input type="search" name="search" placeholder="search" />
            </form>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col s3 product-image">
            <div class="card">
                <div class="card-image">
                    <img src="{{ product.product_image1.url }}">
                </div>
                <div class="card-action">
                    <a href="/product/{{ product.id }}/">{{ product.product_name }}</a>
                    {% if product.product_manual %}
                        <a target="_blank" href="{{ product.product_manual.url }}/">Manual</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col s6 offset-s3">
            <h4>No data found</h4>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
