{% extends "customer-dashboard.html" %}
{% load staticfiles %}


{% block contentdas %}
<div class="row search_header">
    <h5 class="center-align" style="margin-top:0px;">Showing Results For Category "<span class="pulse">{{category.name}}</span>"</h5>
</div>
        {% for product in products %}
        <div class="col s3 product-image">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src="{{ product.product_image1.url }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ product.product_name }}<i class="material-icons right">more_vert</i></span>
                    <p><a href="/product/{{ product.id }}/details/">{{ product.product_name }}</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ product.product_name }}<i class="material-icons right">close</i></span>
                    <p>
                        <ul class="collection">
                            <li class="collection-item">{{ product.product_name }}</li>
                            {% if product.product_model %}
                                <li class="collection-item">{{ product.product_model.model_no }}</li>
                            {% endif %}
                            {% if product.company %}
                                <li class="collection-item">{{ product.company.name }}</li>
                            {% endif %}
                            {% if product.product_manual %}
                            <li class="collection-item">
                                <a target="_blank" href="{{ product.product_manual.url }}/"><i class="material-icons">file_download</i>Manual</a>
                            </li>
                            {% endif %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col s6 offset-s3">
            <h4>No data found</h4>
        </div>
        {% endfor %}
{% endblock contentdas %}
