{% extends "dashboard.html" %}
{% load staticfiles %}


{% block contentdas %}

    <section class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="center-align">Claim Product Warranty</h5>
            </div>
        </div>
        <form action="/product/{{registered_warranty.id}}/claim-warranty/" method="post">
            {% csrf_token %}
            {% include "dashboard/claim-warranty-form.html" %}
        </form>

    </section>
{% endblock %}
