{% extends "dashboard.html" %}
{% load staticfiles %}

{% block contentdas %}
    <div class="row search_header">
        <div class="col s12">
            <h5 class="center-align">Showing Results For "<span class="pulse">{{qstring}}</span>"</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s4 push-s4 search_box">
            <form action="/product/search-manual/" method="get">
                <input type="search" name="search" placeholder="search" />
            </form>
        </div>
    </div>
    <div class="row">
        {% include "searched-products.html" %}
    </div>
{% endblock contentdas %}
