{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static '/images/logo.png" type="image/x-icon">
    <meta name="description" content="Innstal">
    {% block page_meta %}{% endblock page_meta %}

    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static '/css/materialize.css' %}">

    <link rel="stylesheet" href="{% static '/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    {% block page_css %}{% endblock page_css %}

    <script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>

    <script src="{% static '/js/jquery.easing.min.js' %}"></script>
    <script src="{% static '/js/jquery.validate.min.js' %}"></script>
    <script src="{% static '/js/tether.min.js' %}"></script>

    {% block page_head_js %}{% endblock page_head_js %}

</head>
<body>

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <script src="{% static '/js/materialize.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
    {% block page_footer_js %}{% endblock page_footer_js %}
</body>
</html>
