{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="header">
    <nav class="">
        {% include "partials/top-nav.html" %}
    </nav>
    <header class="container">
        {% include "partials/top-header.html" %}
    </header>
</div>

<section class="container">
    {% include "partials/category-browse.html" %}
</section>

<section class="how-it-works">
    {% include "partials/how-innstal-works.html" %}
</section>

<section class="container" id="footer">
    {% include "partials/footer.html" %}
</section>

{% endblock %}