{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="header">
    <nav class="">
        {% include "partials/top-nav.html" %}
    </nav>
    <header class="container">
        {% include "partials/top-header.html" %}
    </header>
</div>

<section class="container">
    <div class="row">
        <div class="col s12">
            <h4 style="color: #000; margin: 30px;">Browse in perfact Instruction Manual Category</h4>
        </div>
    </div>

    {% include "partials/category-browse.html" %}

    <div class="row">
        <div class="col s12">
            <button class="btn rounded-20">Browse All Category</button>
        </div>
    </div>
</section>

<section class="how-it-works">
    {% include "partials/how-innstal-works.html" %}
</section>

<section class="container" id="footer">
    {% include "partials/footer.html" %}
</section>

{% endblock %}
