{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    {% include "partials/top-nav.html" %}

    {% include "partials/banner.html" %}
{% endblock %}

{% block content %}
    {% if categories %}
        {% include "partials/category-browse.html" %}
    {% else %}
        {% include "partials/category-browse-demo.html" %}
    {% endif %}

    {% include "partials/how-innstal-works.html" %}

    {% include "partials/joinus.html" %}

    {% include "partials/about-innstal.html" %}
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
